body {
    font-family: Arial, sans-serif;
}

.containerC {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 600px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

img {
    max-width: 100px;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.containerC p {
    font-size: 0px;

}